<div class="list">
  <div class="list-group">
    <div class="col-sm-12">
    <button type="button" class="list-group-item list-group-item-action list-group-item-warning">
      Rutas Recorridas
    </button>
    <button type="button" class="list-group-item list-group-item-action">Av Puebla 53-57
      Agrícola Pantitlán</button>
    <button type="button" class="list-group-item list-group-item-action">Valle de Aragon 1ra Secc</button>
    <button type="button" class="list-group-item list-group-item-action">Av. 608, San Juan de Aragón IV Secc, 07979 Ciudad de México, CDMX</button>
    <button type="button" class="list-group-item list-group-item-action">Marmolejo MZ53 LT107
      Cerro de la Estrella</button>
  </div>
  </div>
</div>