<div class="container">
  Hola
  <div id="inputs">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
              <img src="assets/pin .png" alt="">
            </span>
          </div>
          <input type="text" class="form-control" placeholder="Ubicación Actual" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="col-md-6">

        </div>

      </div>
    </div>
    <div class="row">

      <div class="col-sm-12 col-md-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
              <img src="assets/target.png" alt="">
            </span>
          </div>
          <input type="text" class="form-control" placeholder="Destino" aria-label="Username" aria-describedby="basic-addon1">
        </div>

      </div>

    </div>

    <div class="row">

      <div class="col-sm-12 col-md-6">
        <div class="input-group mb-3">
        </div>


        <a routerLink="/muestra" style="">BUSCAR</a>
        <!-- <button type="button" class="btn btn-primary" href="busqueda.html" >BUSCAR</button> -->
      </div>

    </div>

  </div>
